# Python virtual environment
.venv/

# Old virtual environment files
Lib/
Include/
pyvenv.cfg

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Local data
*.log

# Environment / secrets
.env
